<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
    <form action="/fileUpload" method="post" enctype="multipart/form-data">
        单文件上传
        <input type="file" name="filename"></input>
        <input type="submit" value="提交"></input>
    </form>
    <br/><br/>
    <form action="/filesUpload" method="post" enctype="multipart/form-data">
        多文件上传
        <br/><input type="file" name="filename"></input><br/>
        <input type="file" name="filename"></input><br/>
        <input type="submit" value="提交"></input>
    </form>
</body>
</html>